.slick-dots{width:unset;text-align:unset}.slick-dots li{height:12px;width:12px;margin:3px}.slick-dots li button{height:12px;width:12px}.slick-dots li button:before{display:none}div.slick-slider { width: 1px; min-width: 100%; *width: 100%; }